
/* 상단에 여백없이 고정하기 위한 코드 */
header {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
height: 70px;
background-color: black;}
color: white;
}

/* nav와 main이 나란히 위치하기 위해 flex속성을 줌 */
#main-page {
    display: flex;
overflow: auto;
width: 100%;
}

/* 위와 오른쪽 여백을 위해 margin을 줌 */
nav { 
    width: 15%;
    height: 500px;
margin-top: 20px;
margin-right: 20px;
}

/* 사진들이 나란히 줄 서기 위해 flex속성을 줌 */
main {
    display: flex;
width: 83.5%;
    height: 500px;
margin-top: 20px;
}

/* 사진 3개가 동일한 속성이므로 함꼐 묶어 css를 적용했음 */
#music, #song, #chello {
    display: inline-block;
    width: 230px;
    height: 230px;
margin: 60px;
}

/* 하단에 여백없이 붙어있기 위해 margin을 0으로 조절함 */
footer {
    bottom: 0px;
    width: 100%;
    height: 100px;
    border-top: 1.5px white solid;
}