/* ㅇ여백에 대한 에러를 없애기 위해 padding와 margin을 0으로 초기화 */
* {
padding: 0;
margin: 0;
}
/* Q. 왜 바디 컬러는 노랑인데 해더 밑 여백은 노랑이 아닐까요? */
body {
  width: 100vw;
  height: auto;
  background-color: yellow;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 4vw;
  top: 0;
left: 0;
background-color: gray;
color: white
}
/* Q.위, 아래 패딩이 동일해지지 않아요 */
#title {
  display: inline;
  align-content: center;
  font-size: 1vw;
}

#center {
  width: 100vw;
  height: 40vw;
  margin-top: 5vw;
  margin-bottom: 10vw;
  background-color: red;
}

nav {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 13vw;
  height: 20vw;
  margin-top: 1vw;
  margin-left: 1.5vw;
  font-size: 1vw;
border-radius: 2%;
background-color: navy;
color: yellow;
border: 0.3vw solid black;
}

nav a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
display: inline-block;
border-bottom: 0.3vw solid black;
}

nav a:last-child {
border-bottom: none;
}

/* 모든 속성 값을 조절해놓고 마지막에 float속성을 줘야 에러가 안뜸!! */
textarea {
 background-image: url("./data/note.png"); 
 display: inline-block;
 width: 25vw;
 height: 35vw;  
 margin-top: 1vw;
 margin-right: 3.5vw;
font-size: 1vw;
color: black;

 float: right
}

footer {
  text-align: center;
  width: 100vw;
  height: 7vw;
  bottom: 0;
  font-size: 0.7vw;
  background-color: black;
  color: white;
  border-top: 0.2rem solid;
}

