* {
padding: 0;
margin: 0;
}

body {
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 3.5vw;
  top: 0;
left: 0;
background-color: black;
color: white
}

#title {
  display: inline;
  font-size: 1vw;
}

#center {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 40vw;
  margin-top: 4vw;
  margin-bottom: 10vw;
  background-color: navy;
}

nav {
  display: flex;
  flex-direction: column;
  width: 13vw;
  height:25vw;
  margin-top: 1vw;
  margin-left: 1.5vw;
  font-size: 1vw;
  border: 0.3vw solid black;
border-radius: 2%;
background-color: beige;
color: black;
}

textarea{
  background-image: https://kmug.co.kr/data/file/design/data_image_%EB%85%B8%ED%8A%B8%EB%9C%AF%EC%9D%80%EB%AA%A8%EC%96%91.jpg("./data/note.jpg");
  margin-top: 1vw;
  margin-right: 3.5vw;
}

footer {
  text-align: center;
  width: 100vw;
  height: 7vw;
  bottom: 0vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 0.7vw;
  background-color: black;
  color: white;
  border-top: 0.2rem solid;
}


nav a {
  text-align: center;
display: inline-block;
font-size: 1.5rem;
border-top: 0.05rem solid;
border-bottom: 0.05rem solid;
padding-top: 1rem;
padding-bottom: 1rem;
}

nav a:first-child {
  border-top: none;
}

nav a:last-child {
  border-bottom: none;
}



#footer p {
  font-size: 1.5rem;
}